<span class='h-9 w-9 align-middle mr-3 rounded-full ring-2 ring-gray-700'>
  <%= image_tag user&.avatar.variant(:thumb), class: 'rounded-full' if user&.avatar.attached? %>
</span>
<span class='m-2'>
  <%= user_nav_name(user) %>
</span>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-6 w-6 text-gray-500 mt-1" fill="currentColor">
  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
</svg>
<!-- <img src="" alt="Nav menu user avatar" class='rounded-lg w-8 h-8' /> -->
<%#=polymorphic_url(user&.profile_avatar) %>
<%#= image_tag user&.avatar.variant(:thumb), class: 'rounded-full' if user&.avatar.attached? %>
<%#=Rails.application.routes.url_helpers.rails_blob_path(user&.profile_avatar, only_path: true ) %>
