<% if user&.favorited?(room) %>
  <%= button_to room_favorites_path(room.title), method: :delete,
      class: "text-gray-700 flex items-center px-2 px-1 mb-3 focus:outline-none hover:text-gray-600",
      data: {format: :turbo_stream} do %>
    <svg
      xmlns="http://www.w3.org/2000/svg" fill="rgb(255, 99, 71)" viewBox="0 0 24 24" stroke="currentColor"
      class="w-6 h-6  mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z">
      </path>
    </svg>
    <span>
      Remove Favorites
    </span>
  <% end %>
<% else %>
  <%= button_to room_favorites_path(room.title),
      class: "text-gray-700 flex items-center px-2 px-1 mb-3 focus:outline-none hover:text-gray-600",
      data: {format: :turbo_stream} do %>
    <svg
      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      class="w-6 h-6  mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z">
      </path>
    </svg>
    <span>
      Add to Favorites
    </span>
  <% end %>
<% end %>
