<%= turbo_frame_tag dom_id(room), class: "",
                                  data: { controller_name: "#{controller_name}",
                                  action_name: "#{action_name}" } do %>
  <%= link_to room_path(room.title),
                               class: "text-current mr-4 bg-gray-100 opacity-75 py-3 px-4 rounded-md mt-4 hover:opacity-100",
                               data: { turbo_frame: :rooms } do %>
     <span class='relative'>
       <%= room_name(room, user) %>
     </span>
  <% end %>
<% end %>
